@{
    ViewBag.Title = "Faq - NestorBugs";
}

<p>Thank you for visiting NestorBugs. Here are answers for some of the questions that you might have regarding this site.</p>

<p>@Html.ActionLink("Click here if you are looking for help on the Markdown enabled text editors", "Markdown", "Home", null, null)</p>

<h2 class="faqQuestion">What is this?</h2>
<p>
     NestorBugs is a bug tracker for solo developers.
</p>

<h2 class="faqQuestion">Why, oh, why??</h2>
<p>Why not?</p>
<p>Besides, it's cool...</p>
