<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Konamiman.SignAllUnsignedReferences.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SignAllUnsignedReferences.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Konamiman.SignAllUnsignedReferences.Settings>
            <setting name="SolutionFolder" serializeAs="String">
                <value>..\</value>
            </setting>
            <setting name="KeyFilePath" serializeAs="String">
                <value>..\|SolutionName|.snk</value>
            </setting>
            <setting name="IldasmPath" serializeAs="String">
                <value>%ProgramFiles(x86)%\Microsoft SDKs\Windows\v7.0A\Bin\ildasm.exe</value>
            </setting>
        </Konamiman.SignAllUnsignedReferences.Settings>
    </applicationSettings>
</configuration>